{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'calculator/stylesheet.css' %}>
    <title>Calculator</title>
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize: 'medium'};</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
  </head>
  <body>
    <h1 class="center-text"><a id="link-home" href={% url 'select-profession' %}>Wow Profit Calculator</a></h1>
  {% block body %}
  {% endblock %}
  </body>
</html>