<!--
  Manual tasks
  1. Setting a field on all reagent tiers to distinguish them in the correct order. So they are sortable from least to greatest
  2.  
-->
<!--
  Notes:
How should hourly updates be handled? Probally have them update when the page is refreshed and not passivly when open.

Problem with some item ids. They are out of order for their tiers. Draconium's lowest id is its teir 2
              then tier 1 and finally teir 3. No api data distinguishes them in proper order. Another item ysrmerald
              are in proper order with tier1, tier2, teir3 ids.


-->

{% extends "base_template.html" %}

{% block body %}
    {% load static %}

    <h1>{{ name }}</h1>
    <div id="crafting_stats">
      <h3>Crafting Stats (whole number)</h3>
      {% comment %} <label for="user_skill">Skill</label> {% endcomment %}
      {% comment %} <input type="number" id="user_skill"  value="{{ user_skill }}"> {% endcomment %}
      <div id="inspiration">
        <h4>Inspiration</h4>
        <label for="base_inspiration">Base Inspiration</label>
        <input type="number" id="base_inspiration"  value="{{ inspiration }}">
        <label for="inspiration_optional">Inspiration from Optional Materials</label>
        <input type="number" id="inspiration_optional"  value="{{ inspiration }}">
        <label for="sagacious_incense">Sagacious Incense +20</label>
        <input type="checkbox" id="sagacious_incense"  value="20">
        <label for="total_inspiration">Total Inspiration</label>
        <input type="number" id="total_inspiration"  value="{{ inspiration }}">
        {% comment %} <label for="skill_from_inspiration">Skill from inspiration</label>
        <input type="number" id="skill_from_inspiration"  value="{{ skill_from_inspiration }}"> {% endcomment %}
      </div>

      <div id="resourcefulness">
        <h4>Resourcefulness</h4>
        <label for="base_resourcefulness">Base Resourcefulness</label>
        <input type="number" id="base_resourcefulness"  value="{{ inspiration }}">
        <label for="resourcefulness_optional">Resourcefulness from Optional Materials</label>
        <input type="number" id="resourcefulness_optional"  value="{{ inspiration }}">
        <label for="total_resourcefulness">Total Resourcefulness</label>
        <input type="number" id="total_resourcefulness"  value="{{ resourcefulness }}">
      </div>

      <div id="multicraft">
      <h4>Multicraft</h4>
        <label for="base_multicraft">Base Multicraft</label>
        <input type="number" id="base_multicraft"  value="{{ inspiration }}">
        <label for="multicraft_optional">Multicraft from Optional Materials</label>
        <input type="number" id="multicraft_optional"  value="{{ inspiration }}">
        <label for="total_multicraft">Total Multicraft</label>
        <input type="number" id="total_multicraft"  value="{{ multicraft }}">
      </div>
    </div>

    <div id="materials">
      <h4>Materials</h4>
      {% for mat in mats %}
        <div id="mat_{{ forloop.counter0 }}">
          <h5>{{ mat.name }} x <span class="matQuantity">{{ mat.quantity }}</span></h5>
          {% if mat.tiers.0.num %} <!--What does this check for?-->
          <label for="mat_{{ forloop.counter }}_select">Tier</label>
          <select id="mat_{{ forloop.counter }}_select" matindex="{{ forloop.counter0 }}">
            {% for tier in mat.tiers %}
            <option value="{{ tier.num }}">{{ tier.num }}</option>
            {% endfor %}
          </select>
          {% endif %}
          <input type="number" id="mat_{{ forloop.counter0 }}_input" class="mat_input" value="{{mat.tiers.0.buyout}}"/>
        </div>
      {% endfor %}
    </div>


    <div id="optional_materials">
      <h4>Optional Materials</h4>
      {% for optional_mat_slot in optional_mat_slots %}
        <div id="optional_mat_slot_{{ forloop.counter0 }}">
          <label for="optional_mat_slot_{{ forloop.counter0 }}_checkbox"> {{ optional_mat_slot.name }} x <span class="optional_mat_quantity">{{ optional_mat_slot.quantity }}</span></label>
          <input type="checkbox" id="optional_mat_slot_{{ forloop.counter0 }}_checkbox" class="optional_mat_slot_checkbox" matindex="{{ forloop.counter0 }}">

          <label for="optional_mat_slot_{{ forloop.counter0 }}_select">Items</label>
          <select id="optional_mat_{{ forloop.counter0 }}_select" matindex="{{ forloop.counter0 }}" class="optional_mat_slot_select">
            {% for category in optional_mat_slot.categories %}
              <optgroup label="{{ category.name }}" optgroupindex={{ forloop.counter0 }}>
                {% for item in category.items %}
                  <option value="{{ item.quality }}" data-inspiration="{{ item.Inspiration }}" data-multicraft="{{ item.Multicraft }}" data-resourcefulness="{{ item.Resourcefulness }}">
                    {{ item.quality }}
                  </option>
                {% endfor %}
              </optgroup>
            {% endfor %}
          </select>

          <input type="number" id="optional_mat_{{ forloop.counter0 }}_input" class="optional_mat"  value="{{ optional_mat_slot.categories.0.items.0.buyout }}" matindex="{{ forloop.counter0 }}"/>
        </div>
      {% endfor %}
    </div>

    <div id="product_container">
      <h4>Product x<span id="product_quantity">{{ product.quantity }}</span></h4>
      {% if product.inspirable %}
        <label for="product_select">Tier</label>
        <select id="product_select">
          {% for tier in product.tiers %}
            <option value="{{ tier.num }}">{{ tier.num }}</option>
          {% endfor %}
        </select>
      {% endif %}
      <input type="number" id="product_input"  value="{{ product.tiers.0.buyout }}"/>
      
      {% if product.inspirable %}
      <label for="inspired_product_select">Tier when inspired</label>
      <select id="inspired_product_select">
        {% for tier in product.tiers %}
          <option value="{{ tier.num }}">{{ tier.num }}</option>
        {% endfor %}
      </select>
      <input type="number" id="inspired_product_input"  value="{{ product.tiers.0.buyout }}"/>
      {% endif %}
    </div>

    <div id="cost_container">
      <h4>Cost</h4>
      <input type="number" id="cost" value="0"/>
    </div>
    <div id="product_container">
      <h4>Average Product Value</h4>
      <input type="number" id="avgerage_value_input" value="0">
    </div>
    <div id="profit_container">
      <h4>Profit</h4>
      <input type="number" id="profit" value="0"/>
    </div>

    
    {{ mats|json_script:"mats" }}
    {{ optional_mat_slots|json_script:"optional_mat_slots" }}
    {{ product|json_script:"product" }}
    {{ recipe_skill|json_script:"recipe_skill"}}
    <script src={% static 'calculator/calculatePL.js' %}></script>
{% endblock %}
