{% extends "base_template.html" %}

{% block body %}
    <h1>{{ view.kwargs.profession }}</h1>
    <main id="recipes-page">
        {% for recipe_category in profession_categories_list %}
            <h3>{{ recipe_category.name }}</h3>
            <ul>
            {% for recipe in recipe_list %}
                {% if recipe.recipe_category.name == recipe_category.name %}
                <li>
                    <a href="{% url 'recipe-calculator' view.kwargs.profession recipe_category.name recipe.id %}" data-wowhead="item={{ recipe.product_id }}">
                            {{ recipe.spell.name }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% empty %}
            <h3>Error loading recipe categories.</h3>
        {% endfor %}
    </main>
{% endblock %}