{% extends "base_template.html" %}

{% block body %}
    <h1 id="professions-header">Professions</h1>
    <main id="profession-select-page">
        <div id="search-container">
            <input id="search" type="search" placeholder="Enter a recipe">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </div>
        <div id="professions-container">
            {% for profession in professionindex_list %}
            {% comment %}
                <a href="{% url 'select-recipe-category' request.session.region request.session.realm profession.name %}"><h3>{{ profession.name }}</h3></a>
            {% endcomment %}
            {% comment %} <a href="{% url 'select-recipe-category' profession.name %}"><h3 class="profession-link">{{ profession.name }}</h3></a> {% endcomment %}
            <a href="{% url 'select-recipe-category' profession.name %}">
                <img class="profession-link" src="https://wow.zamimg.com/images/wow/icons/large/ui_profession_{{ profession.name|lower }}.jpg" alt="{{ profession.name }}" title="{{ profession.name }}">
            </a>


            {% empty %}
                <h3>Error loading professions.</h3>
            {% endfor %}
        </div>
    </main>
{% endblock %}